@model List<ProductWithCategories>



<div class="container">
	<div class="row pt-4 pb-3">
		<div class="col-6">
			<h2>Product List</h2>

		</div>

		<div class="col-6 text-end">
			<a asp-controller="Product" asp-action="Create" class="btn btn-primary">
				Add new Product  <i class="bi bi-plus-circle-fill"></i>
			</a>
		</div>

	</div>

	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Description</th>
				<th>Creation Date</th>
				<th>Image URL</th>
				<th>Category</th>
				
			</tr>
		</thead>
		<tbody>

			@foreach (var obj in Model)
			{
				<tr>
					<td>@obj.ProductId</td>
					<td>@obj.ProductName</td>
					<td>@obj.Description</td>
					<td>@obj.CreationDate</td>
					<td>@obj.ImageUrl</td>
					<td>
						@foreach(var c in obj.Categories )
						{
							@c.Name
						}
					</td>
					

					
					<td>
						<a asp-controller="Product" asp-action="Edit" asp-route-id="@obj.ProductId" class="btn btn-primary">
							Edit <i class="bi bi-pencil"></i>
						</a>
					</td>
					<td>
						<a asp-controller="Product" asp-action="Delete" asp-route-id="@obj.ProductId" class="btn btn-danger">
							Delete  <i class="bi bi-trash"></i>
						</a>
					</td>
				</tr>

			}

		</tbody>
	</table>

</div>
